body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  #list {
    list-style: none;
    padding: 0;
    max-width: 400px;
    margin: 0 auto;
  }
  
  li {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s ease;
  }
  
  li.completed-task {
    background-color: #e0e0e0;
  }
  
  label {
    display: flex;
    align-items: center;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  button {
    background-color: #ff6347;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: #e53e3e;
  }
  
  /* Form stil */
  #new-task-form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  #new-task-title {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  #new-task-form button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #new-task-form button:hover {
    background-color: #0056b3;
  }
  
  li.completed-task {
    background-color: green;
  }
  